* {
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    margin: 0 auto;
    font-family: "Montserrat";
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.clear::after {
    content: "";
    display: block;
    clear: both;
}

.logo .text span:first-child {
    font-size: 50.16px;
    line-height: 21.5px;
    font-weight: 800;
    font-style: italic;
    letter-spacing: 0.05em;
    color: #202b2f;
}

.logo .text span:last-child {
    font-size: 12.18px;
    line-height: 21.5px;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 0.35em;
    color: #202b2f;
}

.logo .img {
    width: 95px;
    height: 46px;
    background-position: right;
    display: inline-block;
    padding-right: 100px;
    background-repeat: no-repeat;
}

header .subscribe [class^="btn"] {
    font-size: 12px;
    line-height: 83.73px;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #ffffff;
    padding: 10px 35px;
}

header .subscribe .btnColor1 {
    background-color: #3c9ef1;
}

header .subscribe .btnColor2 {
    background-color: #44d29d;
}

.languages .img {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

header .social a {
    font-size: 16px;
    text-decoration: none;
    color: #000000;
    background-color: #ebf2f6;
}

header .date .clock {
    font-size: 33px;
    line-height: 17.24px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #000;
}

header .day span:first-child {
    font-size: 13px;
    line-height: 14.43px;
    color: #202b2f;
}

header .day span:last-child {
    font-size: 15px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #202b2f;
}

header .menu {
    background-color: #202b2f;
}

header .menu a {
    font-size: 15px;
    line-height: 60px;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 0.02em;
    color: #ffffff;
    display: inline-block;
}

header .menu a + a {
    margin-left: 62px;
}

/*main*/

.menu .home {
    color: #1fe096;
}

.start {
    background-position: 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;
}

.start .caption span {
    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #ffffff;
    display: block;
    text-align: right;
}

.start .caption p {
    font-size: 30px;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #ffffff;
    text-align: right;
}

.getStarted .textBlockLight {
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.025em;
    color: #ffffff;
    text-align: right;
}

.getStarted .btnGrad1 {
    font-size: 17px;
    line-height: 83.73px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #ffffff;
    text-decoration: none;
    background-color: #02a0f9;
    display: table;
    margin-left: auto;
}

.start .currency {
    background-color: #ffffff;
    display: table;
    margin-left: auto;
}

.start .currency .text span:first-child {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.024em;
    font-weight: 500;
    color: #202b2f;
}

.start .currency .text span:nth-child(2) {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #202b2f;
}

.start .currency .text span:last-child {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #19cf8b;
}

.start .currency span[class^="icon"] {
    font-size: 3em;
    color: #000000;
}

.start .advantages {
    display: table;
    margin-right: auto;
}

.start .list li span:nth-child(2) {
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: 0.024em;
    text-transform: uppercase;
    color: #ffffff;
}

.start .list li span:first-child {
    font-size: 3em;
    color: #000000;
    background-color: #57c5f2;
}

.start .advantages .textBlockLight {
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.start .advantages .textBlockLight span {
    font-weight: 700;
    text-transform: uppercase;
}

.graph .img {
    width: 614px;
    height: 392PX;
    display: inline-block;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.aboutCompany {
    background-position: 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;
    margin: 0 -25px;
}

.aboutCompany .left {
    width: 50%;
    float: left;
    padding: 0 25px;
}

.aboutCompany .right {
    width: 50%;
    float: right;
    padding: 0 25px;
}

.aboutCompany {
    margin: 0 -25px;
}

.aboutCompany .left .captionLight {
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #ffffff;
    text-align: left;
}

.address span {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.address a {
    text-decoration: none;
    font-size: 3em;
    color: #ffffff;
}

.aboutCompany .right p {
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.aboutCompany .right a {
    font-size: 17px;
    line-height: 83.73px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    padding: 25px 40px;
}

.aboutCompany .right .btnColor1 {
    background-color: #03a3f4;
}

.aboutCompany .right .btnColor2 {
    background-color: #44d29d;
}

.aboutCompany img {
    width: 218px;
    height: 306px;
}

.plans {
    background-position: 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;
}

.plan1 .item {
    background-color: #3c9ef1;
}

.plan2 .item {
    background-color: #44d29d;
}

.plans [class^="tarif"] {
    background-color: #ffffff; 
}

.plans div[class^="plan"] {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 50%;
    float: left;
    padding: 0 30px;
}

.plans .wrapper {
    margin: 0 -30px;
}

.plans .plan1 {
    margin: 0 -60px;
}

.plans .item,
.plans div[class^="tarif"] {
    width: 50%;
    float: left;
    padding: 0 30px;
}

.plans .plan2 {
    margin: 0 -30px;
}

.plans .captionDark {
    font-size: 30px;
    line-height: 83.73px;
    font-weight: 700;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #202b2f;
    display: block;
    text-align: center;
}

.plans .textBlockDark {
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.025em;
    color: #202b2f;
    text-align: center;
}

.plans .item .captionLight {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #ffffff;
}

.plans .item .big {
    font-size: 90px;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.plans .item span:nth-child(3) {
    font-size: 17px;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.plans .item a {
    font-size: 15px;
    line-height: 83.73px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #ffffff;
    text-decoration: none;
    padding: 20px 40px;
    display: block;
}

.plans .item .btnColor1 {
    background-color: #3c9ef1;
}

.plans .item .btnColor2 {
    background-color: #44d29d;
}

.plans [class^="tarif"] .block1 span:first-child {
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
    color: #202b2f;
}

.plans [class^="tarif"] .block1 span:last-child {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;

}

.plans .tarifplan1 .block1 span:last-child {
    color: #3c9ef1;
}

.plans .block2 {
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.025em;
    color: #202b2f;
}

.plans .tarifplan2 .block1 span:last-child {
    color: #44d29d;
}

.profit {
    background-color: #06aae9;
}

.profit label {
    display: block;
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
}

.profit input,
.profit select option{
    font-size: 15px;
    line-height: 24px;
    color: #000000;
}

.profit .amount,
.profit .plan,
.profit .sum,
.profit a {
    display: inline-block;
}

.profit .plan,
.profit .sum,
.profit a {
    margin-left: 105px;
}

.profit .plan select,
.profit input {
    background-color: #5ed3dd;
    padding: 0 30px;
}

.profit .sum span:first-child {
    font-size: 15px;
    line-height: 50px;
    font-weight: 700;
    color: #ffffff;
}

.profit .sum span:last-child {
    font-size: 30px;
    line-height: 50px;
    font-weight: 700;
    color: #202b2f;
}

.profit .btnColor3 {
    font-size: 15px;
    line-height: 83.73px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background-color: #202b2f;
    padding: 0 50px;
}

.referral {
    background-position: 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;
}

.referral . img .left,
.referral .img .right {
    display: inline-block;
}

.referral .img .right {
    margin-left: 450px;
}

.referral .captionDark {
    font-size: 30px;
    line-height: 83.73px;
    font-weight: 700;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #202b2f;
    display: block;
    text-align: center;
}

.referral .img .percent {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.referral .left span:first-child {
    background-color: #03a3f4;
}

.referral .img .number {
    font-size: 121px;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: 0.025em;
}

.referral .left span:nth-child(2) {
    color: #03a3f4;
}

.referral .img .text {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
}

.referral .left span:last-child {
    color: #03a3f4;
}

.referral .right span:first-child {
    background-color: #44d29d;
}

.referral .right span:nth-child(2) {
    color: #44d29d;
}

.referral .right span:last-child {
    color: #44d29d;
}

.referral .textBlockDark {
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.025em;
    color: #202b2f;
    text-align: center;
}

.referral a {
    font-size: 17px;
    line-height: 83.53px;
    letter-spacing: 0.05em;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #03a3f4;
    text-decoration: none;
    display: table;
    margin: auto;
    text-align: center;
    padding: 0 20px;
}

.referral .point {
    width: 20%;
    float: left;
    padding: 0 25px;
}

.referral ul.clear {
    margin: 0 -25px;
}

.referral .lefttable,
.referral .righttable {
    width: 50%;
    float: left;
    padding: 0 15px;
}

.referral .table.clear{
    margin: 0 -15px;
}

.referral .point span:nth-child(2) {
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 0.05em;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.referral .point span:last-child {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.05em;
    font-weight: 700;
    color: #202b2f;
}

.referral .point span {
    display: block;
    text-align: center;
}

.referral ul.table {
    background-color: #ffffff;
}

.referral ul.table li span:first-child {
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.025em;
    font-weight: 600;
    color: #202b2f;
}

.referral ul.table li span:nth-child(2) {
    font-size: 13px;
    line-height: 30px;
    letter-spacing: 0.025em;
    color: #202b2f;
}

.referral ul.table li span:nth-child(3) {
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.025em;
    font-weight: 600;
}

.referral .lefttable li span:nth-child(3) {
    color: #3c9ef1;
}

.referral .righttable li span:nth-child(3) {
    color: #44d29d;
}

.referral ul.table + span {
    font-size: 17px;
    line-height: 83.73px;
    letter-spacing: 0.025em;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.referral .lefttable > span {
    background-color: #04a4f2;
    display: block;
    text-align: center;
}

.referral .righttable > span {
    background-color: #44d29d;
    display: block;
    text-align: center;
}

.referral [class^="icon"] {
    font-size: 3em;
    color: #000000;
    background-color: #5fd4db;
}

.referral ul.table li span:last-child {
    background-repeat: no-repeat;
}

.referral ul.table .img {
    width: 21px;
    height: 21px;
    color: #000000;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: right center;
}

.advantages {
    background-position: 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;
}

.advantages .item span[class^="icon"] {
    font-size: 3em;
    color: #02a0f9;
    display: block;
    text-align: center;
}

.advantages .captionLight {
    font-size: 30px;
    line-height: 83.73px;
    letter-spacing: 0.025em;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    display: block;
    text-align: center;
}

.advantages .item span:nth-child(2) {
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.025em;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    display: block;
    text-align: center;
}

.advantages .item p {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.025em;
    color: #d4dbde;
    display: block;
    text-align: center;
}

.advantages .item {
    width: 33.3333%;
    float: left;
    padding: 0 35px;
}

.advantages .wrapper {
    margin: 0 -35px;
}

.news {
    background-position: 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;
}

.news .captionDark {
    font-size: 30px;
    line-height: 83.73px;
    letter-spacing: 0.025em;
    font-weight: 700;
    text-transform: uppercase;
    color: #202b2f;
    display: block;
    text-align: center;
}

.news .item span:nth-child(2) {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.025em;
    font-weight: 700;
    color: #03a3f4;
}

.news .item span:nth-child(3) {
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.025em;
    font-weight: 700;
    color: #202b2f;
}

.news .item p {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.025em;
    color: #202b2f;
}

.news .item a {
    font-size: 15px;
    line-height: 83.73px;
    letter-spacing: 0.05em;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #02a0f9;
    text-decoration: none;
    margin-left: 30px;
}

.news .img {
    width: 300px;
    height: 215px;
    background-repeat: no-repeat;
    margin-left: 35px;
}

.news .item {
    width: 33.3333%;
    float: left;
    padding: 0 15px;
    background-color: #ffffff;
}

.news .item * {
    display: block;
    text-align: center;
}

.news .wrapper {
    margin: 0 -15px;
}

.payments {
    background-color: #c9d3db;
}

footer {
    background-color: #202b2f;
}

footer .wrapper .item {
    display: inline-block;
}

footer .wrapper .item + .item {
    margin-left: 190px;
}

footer .logo .text span:first-child {
    font-size: 50.16px;
    line-height: 21.5px;
    letter-spacing: 0.05em;
    font-weight: 800;
    font-style: italic;
    color: #ffffff;
}

footer .logo .text span:last-child {
    font-size: 12.18px;
    line-height: 21.5px;
    letter-spacing: 0.35em;
    font-weight: 500;
    font-style: italic;
    color: #ffffff;
}

footer .widgets a {
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    background-color: #4b5559;
}

footer .copyrights {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.025em;
    color: #ffffff;
}

footer ul.menu li::before {
    color: #1fe096;
    content: "∙";
}

footer .menu a {
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
}


footer .address span {
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 0.02em;
    font-weight: 500;
    text-transform: uppercase;
    color: #1fe096;
}

footer .address a {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.025em;
    text-decoration: none;
    color: #ffffff;
}

footer .mail span {
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 0.02em;
    font-weight: 500;
    text-transform: uppercase;
    color: #1fe096;
}

footer .mail a {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.025em;
    color: #06a9eb;
}

/*referrals*/

header .user .img {
    width: 108px;
    height: 77px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

header .user .text span:first-child {
    font-size: 14px;
    line-height: 17px;
    color: #202b2f;
}

header .user .text span:last-child {
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    color: #202b2f;
}

header .topline .btnColor1 {
    font-size: 12px;
    line-height: 83.73px;
    letter-spacing: 0.025em;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
    background-color: #3c9ef1;
    padding: 15px 35px;
}

header .wrapper {
    background-position: 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;
}

.userInfo .info .title {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.userInfo .info .text {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.025em;
    font-weight: 700;
    color: #ffffff;
}

.userInfo [class^="icon"] {
    font-size: 2em;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
}

.userInfo .link2 {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.025em;
    font-weight: 700;
    color: #ffffff;
}

.userInfo .balance span:first-child {
    font-size: 4em;
    color: #3bbbea;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000000;
}


.userInfo .balance span:nth-child(2) {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.025em;
    font-weight: 700;
    color: #ffffff;
}

.userInfo .balance span:nth-child(3) {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.025em;
    font-weight: 700;
    color: #ffffff;
}

.userInfo .btns a {
    font-size: 15px;
    line-height: 83.73px;
    letter-spacing: 0.05em;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
    padding: 15px 20px;
}

.userInfo .btns .btnColor1 {
    background-color: #38a4ff;
}

.userInfo .btns .btnColor2 {
    background-color: #1ede99;
}

.userInfo .img {
    width: 90px;
    height: 90px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #3bbbea;
}

.userInfo .img,
.userInfo .info,
.userInfo .balance,
.userInfo .btns {
    display: inline-block;
}

.userInfo .info,
.userInfo .balance,
.userInfo .btns {
    margin-left: 40px;
}

.navigation span {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 15px;
    line-height: 60px;
    letter-spacing: 0.02em;
    font-weight: 700;
    text-transform: uppercase;
    color: #202b2f;
}

.navigation span[class^="icon"] {
    font-size: 2em;
    color: #000000;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}


.navigation .ref span {
    color: #3c9ef1;
}

header .deposit .title {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.025em;
    color: #202b2f;
}

header .deposit .img {
    width: 27px;
    height: 27px;
    color: #ffffff;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

header .navigation {
    width: 33.3333%;
    float: left;
    padding: 0 20px;
}

header .deposit {
    width: 66.6666%;
    float: left;
    padding: 0 20px;
}

header .wrapper{
    margin: 0 -20px;
}

.content {
    background-position: 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;
}

header .deposit .text {
    font-weight: 700;
}

header .deposit a {
    font-size: 15px;
    line-height: 83.73px;
    letter-spacing: 0.05em;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    background-color: #019efc;
    padding: 15px 30px;
}

.content .deposit .img {
    width: 35px;
    height: 35px;
    display: inline-block;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: left center;
}

.content .captionDark {
    font-size: 30px;
    line-height: 83.73px;
    letter-spacing: 0.025em;
    font-weight: 700;
    text-transform: uppercase;
    color: #202b2f;
    display: block;
    text-align: center;
}

.content .upline .captionDark {
    font-size: 20px;
    line-height: 60px;
    letter-spacing: 0.02em;
    font-weight: 700;
    text-transform: uppercase;
    color: #202b2f;
}

.content .upline span:last-child {
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.02em;
    font-weight: 600;
    color: #04a4f2;
    display: block;
    text-align: center;
}

.content .upline .img {
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;
    display: inline-block;
    background-position: center;
    background-color: #ffffff;
    margin-left: 545px;
}

.content .records span {
    display: block;
}

.content .records span:first-child {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.content .records span:last-child {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.025em;
    font-weight: 700;
    color: #ffffff;
}

.comission {
    background-color: #38a4ff;
}

.referrals {
    background-color: #11c0c5;
}

.activeRef {
    background-color: #44d29d;
}

.content .records .point{
    width: 33.3333%;
    float: left;
    padding: 0 15px;
}

.content .records {
    margin: 0 -15px;
}

.content .refSignup {
    font-size: 20px;
    line-height: 83.73px;
    letter-spacing: 0.025em;
    font-weight: 700;
    text-transform: uppercase;
    color: #202b2f;
}

.content  form {
    display: inline-block;
}

.content form + form {
    margin-left: 35px;
}

.content .dateRef form label {
    font-size: 15px;
    line-height: 100px;
    font-weight: 700;
    color: #202b2f;
}

.content form option {
    font-size: 13px;
    line-height: 100px;
    color: #202b2f;
}

.content .dateRef {
    background-color: #ffffff;
}

.content select {
    background-color: #e6edf4;
    padding: 15px 20px;
}

.content .table1 li span {
    width: 33.3333%;
    float: left;
    padding: 0 200px;
}

.content .table1 li {
    margin: 0 -200px;
}

.content .table1 li:first-child {
    font-size: 15px;
    line-height: 50px;
    letter-spacing: 0.025em;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #3c9ef1;
}

.content .table1 .date {
    font-size: 15px;
    line-height: 50px;
    letter-spacing: 0.025em;
    color: #202b2f;
}

.content .table1 .text {
    font-size: 15px;
    line-height: 50px;
    letter-spacing: 0.025em;
    font-weight: 700;
    color: #5eacf3;
}

.content .yourRef {
    font-size: 20px;
    line-height: 83.73px;
    letter-spacing: 0.025em;
    font-weight: 700;
    text-transform: uppercase;
    color: #202b2f;
}

.content .table2 li .point{
    display: inline-block;
    padding: 0 30px;
}

.content .table2 li .point +.point{
    margin-left: 20px;
}

.content .table2 .title {
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0.025em;
    color: #202b2f;
}

.content .table2 .name {
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0.025em;
    font-weight: 700;
    color: #202b2f;
}

.content .table2 li {
    background-color: #ffffff;
}

.content .table2 .textBlockDark {
    background-color: #c9d3db;
}

.content .table2 .text span:first-child {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.content .table2 .text span:last-child {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.025em;
    font-weight: 700;
    color: #ffffff;
}

.content .table2 li div:nth-child(3) {
    background-color: #3c9ef1;
}

.content .table2 li div:nth-child(4) {
    background-color: #44d29d;
}

.content .table2 p {
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.025em;
    color: #202b2f;
    background-color: #e6edf4;
}

.content .table .img {
    width: 50px;
    height: 50px;
    color: #ffffff;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.slider {
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.025em;
    font-weight: 700;
    color: #202b2f;
    background-color: #ffffff;
    text-align: center;
}

.slider li {
    display: inline-block;
}

.slider li + li {
    margin-left: 20px;
}

.slider li:nth-child(3) {
    color: #ffffff;
    background-color: #1edf98;
}

.slider .img {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #c9d3db;
}

.content .copyrights {
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.025em;
    color: #202b2f;
    display: block;
    text-align: center;
}